<ion-content class="wishlist-content">
  <div *ngIf="!visEmptyWishlist">
    <div [style.filter]="divBlur">
      <ion-item class="item-searcbar" lines="none">
        <ion-menu-button class="menu-btn" slot="start">
          <ion-icon src="assets/icon/menu.svg"></ion-icon>
        </ion-menu-button>
        <ion-searchbar name="search" placeholder="search">
        </ion-searchbar>
        <ion-button shape="round" slot="end" routerLink="/cart" routerDirection="forward">
          <ion-badge class="home-badge">
            0
          </ion-badge>
          <ion-icon src="assets/icon/shopping-cart.svg"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="item-back">
        <ion-icon slot="start" routerLink="/home" routerDirection="back" src="assets/icon/back.svg">
        </ion-icon>
        <p>Wishlist</p>
      </ion-item>

      <!-- grid wishlist -->
      <div class="list-card" *ngFor="let product of wishlistItems">
        <ion-card class="product-card">
          <ion-img class="list-img animated fadeInRight" [src]="product.img"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ product.title }}</ion-card-title>
            <ion-icon (click)="trashPopUp(product)" class="col-trash" name="trash"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="product.variants && product.variants.length > 0">
              <div *ngFor="let group of product.variants[0].groups" class="variant-group">
                <p class="variant-text">{{ group.text }}</p>
                <p class="variant-price">
                  <del>${{ group.price | number }}</del>
                  <span>${{ group.dprice | number }}</span>
                </p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <!-- wishlist popup -->
    <div class="main-popup" *ngIf="visiablePopup">
      <div class="inner-div-sucess" *ngIf="!visProductSuccessful">
        <ion-item class="header-item" lines="none">
          <ion-icon slot="end" name="close" (click)="dismiss()"></ion-icon>
        </ion-item>
        <div class="sucess-div-icon">
          <ion-icon src="assets/icon/wishlist-item-delete.svg"></ion-icon>
          <p>Are you sure want to remove this item from the wishlist?</p>
        </div>
        <div class="cart-div">
          <ion-button (click)="itemDelete()" class="cart-btn animated fadeInLeft">
            Yes
          </ion-button>
          <ion-button (click)="itemNotDelete()" class="home-btn animated fadeInLeft">
            No
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="visEmptyWishlist">
    <ion-item class="item-searcbar" lines="none">
      <ion-searchbar name="search" placeholder="search">
      </ion-searchbar>
      <ion-button shape="round" slot="end">
        <ion-badge class="home-badge">
          0
        </ion-badge>
        <ion-icon src="assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" class="item-back">
      <ion-icon slot="start" routerLink="/home" routerDirection="back" src="assets/icon/back.svg">
      </ion-icon>
      <p>Wishlist</p>
    </ion-item>
    <ion-card class="card-header animated fadeIn">
      <ion-thumbnail>
        <ion-img src="assets/images/other/category-header-uno.png">
        </ion-img>
      </ion-thumbnail>
    </ion-card>
    <div class="div-icon">
      <ion-icon class="animated headShake" id="icon-animation" src="assets/icon/wishlist-empty.svg"></ion-icon>
      <h2 class="header-text">Your Wishlist is Empty!</h2>
      <ion-button fill="clear" routerLink="/category-detail" routerDirection="forward">
        <u>Continue Shopping</u>
      </ion-button>
    </div>
  </div>
</ion-content>
