ion-content.thankyou-content {
  --background: #1A2363 !important;
}

.center-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .header-card {
    background: transparent;
    margin: 0;
    box-shadow: none;
    border-radius: 0;

    .header-content {
      width: 100%;
      margin-top: 10px;
      text-align: center;

      ion-avatar {
        margin-left: auto;
        margin-right: auto;
        background: #1A2363;

        div {
          ion-icon {
            font-size: 50px;
            margin-top: 10px;
            color: white;
          }
        }
      }

      h2 {
        font-size: 19px;
        font-family: "roboto-regular";
        color: #1A2363;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .list {
    margin: 0;
    background: transparent;
    padding: 0;

    ion-item {
      border-radius: 10px;
      border: solid 1px #eee;
      --background: #f9f9f9;
      margin-bottom: 10px;

      ion-input {
        --placeholder-color: #1A2363;
        --placeholder-opacity: 0.8;
        color: #1A2363;
      }

      ion-icon {
        font-size: 16px;
        margin-right: 10px;
        color: #B446FF;
      }
    }
  }

  .item-forget-pass {
    --background: transparent;
    font-family: "roboto-regular";
    font-size: 12px;
    --color: #1A2363;
    --inner-padding-start: 0;
    justify-content: center;

    p {
      margin-top: 0;
    }

    ion-button {
      --color: #B446FF;
      text-transform: capitalize;
      font-family: "roboto-regular";
      font-size: 12px;
      --ripple-color: #B446FF;
      margin-top: -10px;
    }
  }

  .btn-div {
    text-align: center;
    width: 100%;
    margin-top: 10px;

    ion-button {
      height: 42px;
      --background: #B446FF;
      width: 100%;
      --box-shadow: none;
      --border-radius: 20px;
      font-family: "roboto-regular";
      font-size: 13px;
    }
  }

  .para-member {
    text-align: center;
    font-family: "roboto-regular";
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #1A2363;
  }

  .create-div {
    text-align: center;
    width: 100%;
    margin-top: 10px;

    ion-button {
      height: 33px;
      --color: #B446FF;
      width: 100%;
      --box-shadow: none;
      --border-radius: 20px;
      --border-color: #B446FF;
      border: solid 1px;
      font-family: "roboto-regular";
      font-size: 11px;
      text-transform: capitalize;
    }
  }
}
