<ion-content [fullscreen]="true" class="thankyou-content">
  <ion-grid class="center-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <div class="card-container">
          <ion-card class="header-card">
            <div class="header-content">
              <ion-avatar>
                <div>
                  <ion-icon src="assets/icon/m-text.svg"></ion-icon>
                </div>
              </ion-avatar>
              <h2>Login Into Your Account</h2>
            </div>
          </ion-card>
          <ion-list class="list">
            <div *ngFor="let item of listLoginItems">
              <ion-item class="animated fadeInRight" lines="none">
                <ion-icon slot="start" src="{{item.icon}}"></ion-icon>
                <ion-input placeholder="{{item.placeHolder}}" type="{{item.type}}" [(ngModel)]="item.bindingText"></ion-input>
              </ion-item>
            </div>
          </ion-list>
          <ion-item class="item-forget-pass" lines="none">
            <p>Don't Remember Your Password?</p>
            <ion-button routerLink="/forget" routerDirection="forward" fill="clear"><u>Click Here</u></ion-button>
          </ion-item>
          <div class="btn-div">
            <ion-button (click)="isLogin()">Login</ion-button>
          </div>
          <p class="para-member">Not A Member?</p>
          <div class="create-div">
            <ion-button routerLink="/register" routerDirection="forward" fill="clear">Create An Account</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
