<ion-content class="intro-content">
  <ion-slides  pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of sliderItems">
      <span>
        <!-- <ion-thumbnail> -->
        <ion-img src="{{slide.img}}"></ion-img>
        <div class="upper-div">
          <ion-img src="{{slide.curve}}"></ion-img>
        </div>
        <!-- </ion-thumbnail> -->
        <h3>{{slide.title}}</h3>
        <p>{{slide.desc}}</p>
      </span>
    </ion-slide>
  </ion-slides>
  <div class="btn-div">
    <ion-button (click)="nextSlide()"  class="btn-next" *ngIf="visBtn">
      Next
    </ion-button>
    <ion-button routerLink="/home" routerDirection="forward" class="btn-next" *ngIf="!visBtn">
        Done
      </ion-button>
  </div>
  <div class="btn-div">
    <ion-button routerLink="/home" routerDirection="forward" fill="clear" class="btn-skip" *ngIf="visBtn">
      <u>Skip</u>
    </ion-button>
  </div>
</ion-content>