.content-price {
  .header-item {
    --background: #1A2363;
    position: absolute;
    top: 0;
    width: 100%;
  }
  --background: white !important;
  h2 {
    font-size: 20px;
    font-family: "roboto-regular";
    margin-top: 4px;
    margin-left: 20px;
  }

  .range-values {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
    margin-bottom: -10px;

    .range-label {
      font-family: "roboto-medium";
      font-size: 14px;
      color: #1A2363;
      background: #f0f0f0;
      padding: 12px 6px;
      border-radius: 10px;
    }
  }

  .item-range {
    --padding-start: 0;
    --inner-padding-end: 0;
    ion-range {
      --padding-start: 20px;
      --padding-end: 20px;
      --bar-border-radius: 26px;
      --knob-background: #1A2363;
      --pin-background: white;
      --pin-color: black;
      --bar-background: #dedede;
      --bar-background-active: #1A2363;
      .range-pin {
        transform: translateY(19px) scale(2) !important;
        background: transparent !important;
      }
    }
  }
  div {
    text-align: center;
    margin-top: 35px;
    ion-button {
      --border-radius: 0;
      width: 50%;
      margin: 0;
      height: 48px;
      --background-activated: lightgray;
    }
    .apply-btn {
      --background: #B446FF;
    }
    .reset-btn {
      --background: #919191;
    }
  }
  .range-pressed {
    font-size: 14px;
    font-family: "roboto-regular";
  }
  .range-ios .range-knob-handle .range-pin {
    transform: translateY(21px) scale(2) !important;
  }
}
