<ion-content class="content-price">
  <ion-item class="header-item" lines="none">
    <h2 style="color: white">Price Range:</h2>
    <ion-icon slot="end" name="close" (click)="dismiss()" color="light"></ion-icon>
  </ion-item>

  <div class="range-values">
    <span class="range-label">${{structure.lower}}</span>
    <span class="range-label">${{structure.upper}}</span>
  </div>

  <ion-item class="item-range" mode="ios" lines="none">
    <ion-range id="dual-range" [min]="0" [max]="300" (ionChange)="range()" [(ngModel)]="structure" dual-knobs [pin]="false">
    </ion-range>
  </ion-item>
  <div>
    <ion-button mode="ios" [disabled]="isBtn" (click)="dismiss()" class="apply-btn">APPLY</ion-button>
    <ion-button mode="ios" (click)="reset()" class="reset-btn">RESET</ion-button>
  </div>
</ion-content>
