@font-face {
  font-family: 'roboto-medium';
  src: url('../assets/fonts/roboto/Roboto-Medium.ttf');
  font-style:normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
  font-style: normal;
};
@font-face {
  font-family: 'roboto-light';
  src: url('../assets/fonts/roboto/Roboto-Light.ttf');
  font-style: normal;
};
@font-face {
  font-family: 'roboto-thin';
  src: url('../assets/fonts/roboto/Roboto-Thin.ttf');
  font-style: normal;
};
@font-face {
  font-family: 'roboto-bold';
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
  font-style: normal;
};
@font-face {
  font-family: 'century-school-back-bold';
  src: url('../assets/fonts/century/SCHLBKB.TTF');
  font-style: normal;
};
@font-face {
  font-family: 'century-school-back-regular';
  src: url('../assets/fonts/century/CENSCBK.TTF');
  font-style: normal;
};