<ion-content class="news-content">
  <ion-item class="item-searcbar" lines="none">
    <ion-menu-button class="menu-btn" slot="start">
      <ion-icon src="assets/icon/menu.svg"></ion-icon>
    </ion-menu-button>
    <ion-searchbar name="search" placeholder="search">
    </ion-searchbar>
    <ion-button shape="round" slot="end" routerLink="/cart" routerDirection="forward">
      <ion-badge class="home-badge">
        0
      </ion-badge>
      <ion-icon src="assets/icon/shopping-cart.svg"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item lines="none" class="item-back">
    <ion-icon slot="start" routerLink="/home" routerDirection="backward" src="assets/icon/back.svg">
    </ion-icon>
    <p>News</p>
  </ion-item>
  <ion-card class="card-header animated fadeIn">
    <ion-thumbnail>
      <ion-img src="assets/images/other/category-header.jpg">
      </ion-img>
    </ion-thumbnail>
  </ion-card>
  <ion-card class="latest-img-card">
    <ion-thumbnail>
      <img class="animated fadeIn" src="assets/images/news/1.jpg" />
    </ion-thumbnail>
  </ion-card>
  <p class="para-text">11-July-2019</p>
  <h2 class="title-text">Shoes Trends 2019</h2>
  <p class="para-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor.
    Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex,
    ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus.
    Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis.
    Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa.
    Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat.
    Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
  <p class="para-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor.
    Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex,
    ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus.
    Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis.
    Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa.
    Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat.
    Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
  <p class="para-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor.
    Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex,
    ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus.
    Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis.
    Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa.
    Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat.
    Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
</ion-content>