@import "../theme/font";
ion-app {
  ion-menu {
    background: white;
    .side-content {
      --background: white !important;
      .card-username {
        margin: 0;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        ion-item {
          --background: linear-gradient(to bottom right, #d5cece, white);
          box-shadow: none;
          ion-avatar {
            height: 84px;
            width: 84px;
          }
          .avatar-dummy {
            background: #b5b5b5;
          }
          ion-label {
            p {
              font-family: "roboto-regular";
              font-size: 18px;
              color: black;
            }
            ion-button {
              --background: #1A2363;
              --color: white;
              font-family: "roboto-regular";
              font-size: 12px;
              text-transform: capitalize;
              width: auto;
              --padding-start: 10px;
              --padding-end: 10px;
              --border-radius: 15px;
              height: 30px;
              margin-top: 10px;
              .logout-indicator {
                width: 10px;
                height: 10px;
                background-color: #2dd36f;
                border-radius: 50%;
                margin-right: 8px;
              }
            }
          }
        }
      }
      .list {
        background: transparent;
        padding-top: 10px;
        padding-bottom: 0;
        ion-item {
          --background: white;
          margin-bottom: 10px;
          ion-icon {
            font-size: 17px;
            color: black;
          }
          p {
            font-size: 16px;
            font-family: "roboto-regular";
            margin-top: auto;
            margin-bottom: auto;
            color: black;
          }
        }
      }
    }
  }
}
