<ion-content class="content-sort">
  <ion-item class="header-item" lines="none">
    <h2 style="color: white">Sort By:</h2>
    <ion-icon slot="end" name="close" (click)="dismiss()" color="light"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-radio-group>
      <ion-item class="radio-item" mode="ios" *ngFor="let item of radioItems; let i=index" lines="full" (click)="btnEnbDis(i)">
        <p>{{item.text}}</p>
        <ion-radio mode="ios" slot="end" [value]="item"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div>
    <ion-button mode="ios" [disabled]="isBtn" (click)="dismiss()" class="apply-btn">APPLY</ion-button>
    <ion-button mode="ios" (click)="reset()" class="reset-btn">RESET</ion-button>
  </div>
</ion-content>
