.content-color {
  .header-item {
    --background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
  }
  --background: white !important;
  h2 {
    font-size: 20px;
    font-family: "roboto-regular";
    margin-top: 18px;
    margin-left: 10px;
  }
  .div-outer,
  .div-select {
    background: #f9f7f6;
    border-radius: 10px;
    height: 68px;
    text-align: center;
    .div-upper {
      height: 10px;
    }

    p {
      font-size: 9px;
      font-family: "roboto-medium";
      margin-top: 12.3px;
      margin-bottom: 11px;
    }
    .icon-tick {
      background: #582f00;
      border-radius: 25px;
      color: white;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .div-select {
    background: #d4d4d4 !important;
  }
  .div-btns {
    text-align: center;
    margin-top: 34px;
    ion-button {
      --border-radius: 0;
      width: 50%;
      margin: 0;
      height: 48px;
      --background-activated: lightgray;
    }
    .apply-btn {
      --background: #81624e;
    }
    .reset-btn {
      --background: #919191;
    }
  }
  //for color div
  .octagon-outer {
    .octagon,
    .octagon-select {
      margin-left: auto;
      margin-right: auto;
      width: 23px;
      height: 8px;
      //   background: red;
    }
    .octagon-top,
    .octagon-select-top {
      margin-left: auto;
      margin-right: auto;
      width: 23px;
      height: 0;
      //   border-bottom: 8px solid red;
      border-left: 7px solid #f9f7f6;
      border-right: 7px solid #f9f7f6;
    }
    .octagon-bottom,
    .octagon-select-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 23px;
      height: 0;
      //   border-top: 8px solid red;
      border-left: 7px solid #f9f7f6;
      border-right: 7px solid #f9f7f6;
    }
    .octagon-select-top,
    .octagon-select-bottom {
      border-left: 7px solid #d4d4d4 !important;
      border-right: 7px solid #d4d4d4 !important;
    }
  }
}
