<ion-content class="thankyou-content" *ngIf="order">
  <ion-card class="header-card"></ion-card>
  <div class="header-content">
    <ion-icon src="assets/icon/thankyou.svg"></ion-icon>
    <h2>Thank you! Your Order Has Been Placed!</h2>
  </div>
  <ion-card class="order-id-card">
    <p>Order id: {{ orderId }}</p>
    <p>{{ items }} Item(s)</p>
  </ion-card>
  <ion-card class="card-legal-shipping">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5">
          <p class="heading-para">Shipping Address:</p>
        </ion-col>
        <ion-col size="7">
          <p class="normal-para">{{ order.shippingAddress }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card-legal-shipping">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5">
          <p class="heading-para">Shipping Method:</p>
        </ion-col>
        <ion-col size="7">
          <p class="normal-para">{{ order.shippingMethod }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card-legal-shipping">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5">
          <p class="heading-para">Payment Method:</p>
        </ion-col>
        <ion-col size="7">
          <p class="normal-para">{{ order.paymentMethod }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Products -->
  <ng-container *ngFor="let product of order.products">
    <ion-card class="cart-items-card animated fadeInUp" *ngFor="let variant of product.variants">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="4">
            <ion-img class="animated fadeInUp" [src]="product.productImg"></ion-img>
          </ion-col>
          <ion-col size="8">
            <ion-grid class="grid-inner-details">
              <ion-row>
                <ion-col size="12">
                  <p><b>{{ product.productName }}</b></p>
                  <p class="variant-text">{{ variant.selectedVariants[0].text }}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <p class="quantity-para">x{{ variant.quantity }}</p>
                </ion-col>
                <ion-col size="8" class="price-col">
                  <p>{{ variant.selectedVariants[0].dprice | currency }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>

  <ion-card class="card-total-price animated fadeInUp">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p>Subtotal</p>
        </ion-col>
        <ion-col size="6">
          <p>{{ order.totalPrice | currency }}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="order.discount > 0">
        <ion-col size="6">
          <p>Discount</p>
        </ion-col>
        <ion-col size="6">
          <p>-{{ order.discount | currency }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>Delivery</p>
        </ion-col>
        <ion-col size="6">
          <p>Free</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p><b>Total Price</b></p>
        </ion-col>
        <ion-col size="6">
          <p><b>{{ order.totalPrice - order.discount | currency }}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="div-btns">
    <ion-button class="btn-disable" routerLink="/home" routerDirection="root">
      <p>Continue Shopping</p>
    </ion-button>
    <ion-button routerLink="/my-order" routerDirection="forward">
      <p>My Orders</p>
    </ion-button>
  </div>
</ion-footer>
