.address-content {
  --background: #f3edea !important;
  .item-searcbar {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    --background: transparent;
    ion-searchbar {
      margin-top: 20px;
      height: 46px;
      opacity: 0.6;
      --placeholder-opacity: 1;
      --placeholder-color: #582f00;
    }
    ion-button,
    ion-menu-button {
      height: 42px;
      margin-top: auto;
      --background: #81624e;
      width: 55px;
      margin-left: 0;
      margin-bottom: 0;
      --box-shadow: none;
      ion-badge {
        position: absolute;
        top: 3px;
        right: 13px;
        border-radius: 20px;
        width: 12px;
        height: 12px;
        font-size: 8px;
        --background: white;
        --color: #81624e;
      }
    }
    .menu-btn {
      margin-right: 0;
    }
  }
  .card-header {
    filter: contrast(0.5);
    margin: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    --background: white;
    box-shadow: 1px 1px 4px 1px #81624e;
    ion-thumbnail {
      height: 130px;
      width: 100%;
    }
  }
  .item-back {
    --inner-padding-end: 16px;
    position: absolute;
    top: 66px;
    color: white;
    font-family: "century-school-back-regular";
    font-size: 20px;
    z-index: 999;
    width: 100%;
    --background: transparent;
    ion-icon {
      font-size: 14px;
      margin-right: 20px;
      margin-left: 2px;
      color: white;
      margin-bottom: 10px;
    }
  }
  .segment {
    margin-top: 10px;
    background: #b19e8a;
    ion-col {
      text-align: center;
      p {
        font-size: 12px;
        font-family: "roboto-regular";
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .highlighed-segment {
        background: #81624e;
        color: white;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 24px;
      }
    }
    .line-col {
      padding-top: 10px;
      padding-bottom: 10px;
      .vertical-line {
        width: 1px;
        height: 30px;
        background: black;
      }
    }
  }
  .list {
    margin-left: 16px;
    margin-right: 16px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 0;
    ion-item {
      position: relative;
      border-radius: 10px;
      border: solid 1px #f3edea;
      --background: white;
      margin-bottom: 10px;
      ion-icon {
        font-size: 17px;
        color: black;
      }
      p {
        font-size: 16px;
        font-family: "roboto-regular";
        margin-top: auto;
        margin-bottom: auto;
        color: black;
      }
    }
  }
  .div-btn {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    ion-button {
      --background: #81624e;
      --border-radius: 5px;
      margin-right: 0;
      text-transform: capitalize;
      font-family: "roboto-regular";
      width: 143px;
      height: 45px;
      margin-top: 0;
      --box-shadow: none;
      font-size: 16px;
    }
  }
  //for searchbar
  .searchbar-input {
    border-radius: 20px !important;
    box-shadow: none !important;
  }
  .searchbar-search-icon.sc-ion-searchbar-md {
    position: absolute !important;
    background: url("../../assets/icon/search.svg") no-repeat !important;
    display: inline-table;
    color: transparent !important;
    top: 10px;
  }
  .searchbar-input.sc-ion-searchbar-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 55px;
    padding-inline-start: 55px;
    -webkit-padding-end: 55px;
    padding-inline-end: 55px;
    text-transform: capitalize;
  }
}
