<ion-content [fullscreen]="true" class="thankyou-content">
  <ion-grid class="center-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <div class="card-container">
          <ion-card class="header-card">
            <div class="header-content">
              <ion-avatar>
                <div>
                  <ion-icon src="assets/icon/m-text.svg"></ion-icon>
                </div>
              </ion-avatar>
              <h2>Reset Your Password</h2>
            </div>
          </ion-card>
          <ion-list class="list">
            <ion-item class="animated fadeInRight" lines="none">
              <ion-icon slot="start" src="assets/icon/mail.svg"></ion-icon>
              <ion-input [(ngModel)]="email" (ionChange)="forgetPass()" placeholder="Enter Your Email" type="email"></ion-input>
            </ion-item>
          </ion-list>
          <div class="btn-div">
            <ion-button (click)="isforgetPassword()" disabled="{{resetBtn}}">Reset Password</ion-button>
          </div>
          <div class="create-div">
            <ion-button routerLink="/login" routerDirection="back" fill="clear">Back to Login</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="main-popup" *ngIf="visiablePopup">
    <div class="inner-div-sucess">
      <div class="sucess-div-icon">
        <ion-icon src="assets/icon/checked.svg"></ion-icon>
        <p>You will receive an email shortly. Open it
          and follow the instructions
          to reset your password. Please also check your spam or junk folder.</p>
      </div>
      <div class="cart-div">
        <ion-button (click)="dismiss()" class="cart-btn animated fadeInLeft">
          ok
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
