.home-content {
  --background: #f3edea !important;
  ion-item {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    --background: transparent;
    ion-searchbar {
      margin-top: 20px;
      height: 46px;
      opacity: 0.5;
      --placeholder-opacity: 1;
      --placeholder-color: #582f00;
    }
    ion-button,
    ion-menu-button {
      height: 42px;
      margin-top: auto;
      --background: #81624e;
      width: 55px;
      margin-left: 0;
      margin-bottom: 0;
      --box-shadow: none;
      ion-badge {
        position: absolute;
        top: 3px;
        right: 13px;
        border-radius: 20px;
        width: 12px;
        height: 12px;
        font-size: 8px;
        --background: white;
        --color: #81624e;
      }
    }
    .menu-btn {
      margin-right: 0;
    }
  }
  ion-slides {
    --bullet-background: white;
    --bullet-background-active: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    ion-slide {
      ion-card {
        margin: 0;
        border-radius: 0;
        ion-thumbnail {
          width: 100%;
          height: 100vw;
        }
      }
    }
    .swiper-pagination-bullets {
      bottom: 22px !important;
      left: 0;
      width: 100%;
    }
    .swiper-pagination-bullet {
      margin: 0 20px !important;
    }
  }
  h2 {
    font-size: 18px;
    font-family: "roboto-medium";
    padding-left: 16px;
    margin-top: 8px !important;
  }
  .follow-text {
    font-size: 20px;
    border-right: solid 2px #707070;
    padding-left: 11px;
  }
  h3 {
    font-size: 14px;
    font-family: "roboto-regular";
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
    height: 3em;
  }
  .slides-featured {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    ion-slide {
      &:first-child {
        ion-grid {
          margin-left: 16px !important;
        }
      }
      ion-grid {
        background: #f9f7f6;
        padding-top: 0;
        margin-left: 15px;
        padding-left: 0;
        border-radius: 10px;
        margin-right: 50px;
        .sale,
        .featured,
        .new {
          font-size: 8px;
          color: white;
          font-family: "roboto-regular";
          padding: 1vw 1vw 1vw 1vw;
          width: 90%;
          border-radius: 5px;
          height: 4.5vw;
        }
      }
      .featured {
        background: #047800;
      }
      .sale {
        background: #b90000;
        margin-left: -10px;
      }
      .new {
        background: #1473e6;
        margin-left: -5px;
      }
      .new-collection,
      .sale-collection {
        font-size: 8px;
        color: white;
        font-family: "roboto-regular";
        padding: 1vw 1vw 1vw 1vw;
        width: 119%;
        border-radius: 5px;
        height: 4.5vw;
      }
      .new-collection {
        background: #1473e6;
        margin-left: 0 !important;
      }
      .sale-collection {
        background: #b90000;
        margin-left: 0 !important;
      }
    }
  }
  .swipe-slider-img {
    // position: absolute;
    // right: -1%;
    // width: 44%;
    // margin-top: -2%;
    position: absolute;
    right: -7px;
    width: 150px;
    margin-top: -2%;
  }
  p {
    font-size: 14px;
  }
  .para-price {
    font-family: "roboto-medium";
    margin-top: 0;
    text-align: left;
  }
  .para-price-del {
    font-family: "roboto-regular";
    margin-top: 0;
  }
  .col-price {
    text-align: left;
  }
  .col-heart {
    text-align: right;
    padding-right: 0;
    .col-heart-empty {
      color: #c5c2c2;
    }
    .col-heart-filled {
      color: #81624e;
    }
  }
  .div-line {
    width: 43%;
    border-top: solid 1px #707070;
    margin-left: auto;
    margin-right: auto;
  }
  .div-category {
    background: #eee3df;
    padding-bottom: 19px;
    width: 100%;
    h1,
    .subcribe-text {
      font-family: "century-school-back-bold";
      font-size: 24px;
      text-align: center;
      margin-top: 15px;
      padding-top: 10px;
      margin-bottom: 16px;
    }
    .subcribe-text {
      font-family: "roboto-regular";
      font-size: 20px;
    }
    .div-line {
      width: 43%;
      border-top: solid 1px #707070;
      margin-left: auto;
      margin-right: auto;
    }
    //for subcribe content
    .div-item {
      margin-left: 16px;
      margin-right: 16px;
      background: white;
      border-radius: 40px !important;
      .item-input {
        position: relative;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 20px;
        ion-input {
          --background: white;
          margin-right: 16px;
          --padding-start: 0;
        }
        ion-button {
          width: 32%;
          position: absolute;
          bottom: 0;
          right: 16px;
          z-index: 99;
          margin: 0;
          height: 48px;
          text-transform: capitalize;
          --box-shadow: none !important;
        }
      }
    }
    .email-para {
      font-family: "roboto-regular";
      font-size: 12px;
      padding-left: 16px;
      padding-right: 11px;
    }
  }
  .category-col {
    &:last-child {
      padding-bottom: 10px !important;
    }
    padding: 10px 16px 20px 16px;
    ion-thumbnail {
      height: 152px;
      width: 100%;
      --border-radius: 30px;
      .category-img {
        margin: 0;
        filter: contrast(0.7);
      }
    }
    h2 {
      position: absolute;
      bottom: 30px;
      padding-left: 20px;
      font-family: "century-school-back-regular" !important;
      font-size: 20px !important;
      color: white;
    }
  }
  .company-para {
    font-family: "roboto-regular";
    font-size: 12px;
    padding-left: 11px;
    margin-top: 0;
  }
  .main-popup {
    position: absolute;
    z-index: 999;

    .inner-div {
      position: fixed;
      top: 25%;
      bottom: 50%;
      left: 7%;
      background: white;
      width: 343px;
      height: 378px;
      border-radius: 25px;
    }
  }
  .slide-btn {
    width: 353.571px;
    height: auto;
    .shop-btn {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15%;
      --color: #81624e;
      --color-focused: #81624e;
      --color-activated: #81624e;
    }
  }
  .col-fb {
    margin-left: 4vw;
  }
  //for searchbar
  .searchbar-input {
    border-radius: 20px !important;
    box-shadow: none !important;
  }
  .searchbar-search-icon.sc-ion-searchbar-md {
    position: absolute !important;
    background: url("../../assets/icon/search.svg") no-repeat !important;
    display: inline-table;
    color: transparent !important;
    top: 10px;
  }
  .searchbar-input.sc-ion-searchbar-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 55px;
    padding-inline-start: 55px;
    -webkit-padding-end: 55px;
    padding-inline-end: 55px;
    text-transform: capitalize;
  }
}
