<ion-content class="home-content">
  <div [style.filter]="divBlur">
    <ion-item lines="none" class="header-toolbar">
      <ion-menu-button class="menu-btn" slot="start">
        <ion-icon src="assets/icon/menu.svg"></ion-icon>
      </ion-menu-button>
      <ion-searchbar name="search" placeholder="search"></ion-searchbar>
      <ion-button shape="round" slot="end" (click)="toggleView()">
        <ion-icon [name]="isGrid ? 'list' : 'grid'"></ion-icon>
      </ion-button>
      <ion-button shape="round" slot="end" routerLink="/cart">
        <ion-badge class="home-badge">0</ion-badge>
        <ion-icon src="assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-item>

    <ng-container *ngTemplateOutlet="productSection; context: { title: 'Featured Products', items: featuredItems, icon: '🌟' }"></ng-container>
    <ng-container *ngTemplateOutlet="productSection; context: { title: 'New Products', items: newItems, icon: '🔔' }"></ng-container>
    <ng-container *ngTemplateOutlet="productSection; context: { title: 'On Sale', items: saleItems, icon: '🎁' }"></ng-container>

    <ng-template #productSection let-title="title" let-items="items" let-icon="icon">
      <h2>{{icon}} {{title}}</h2>
      <div class="horizontal-scroll-container" [class.grid-view]="isGrid">
        <div class="scroll-item" *ngFor="let item of items" (click)="goToProductDetail(item)">
          <div class="product-card-inner">
            <ion-grid class="grid-featured">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <div class="badge-container">
                    <span *ngIf="item.featured" class="badge featured-tag">Featured</span>
                    <span *ngIf="item.new" class="badge new-tag">New</span>
                    <span *ngIf="item.sale" class="badge sale-tag">On Sale</span>
                  </div>
                  <p>{{item.text}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="8" class="price-col">
                  <span class="para-price-del"><del>${{item.price}}</del></span>
                  <span class="para-price">${{item.dPrice}}</span>
                </ion-col>
                <ion-col size="4" class="col-heart">
                  <ion-icon [name]="item.heartVis ? 'heart' : 'heart-outline'"
                            [class.heart-filled]="item.heartVis"
                            (click)="heart(item); $event.stopPropagation()">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-img class="swipe-slider-img" [src]="item.img"></ion-img>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="div-category">
      <h1>Popular Categories</h1>
      <div class="div-line"></div>
      <ion-grid>
        <ion-row *ngFor="let item of categoryItems; let i = index">
          <ion-col class="category-col">
            <div class="category-wrapper" (click)="goToShop(i)">
              <ion-img [src]="item.img" class="category-img"></ion-img>
              <p class="category-text">{{item.text}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
