<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="thankyou-content">

  <ion-grid class="center-grid">
    <ion-row>
      <ion-col size="12">
        <div class="card-container">
          <ion-card class="header-card">
            <div class="header-content">
              <ion-avatar>
                <div>
                  <ion-icon src="assets/icon/m-text.svg"></ion-icon>
                </div>
              </ion-avatar>
              <h2>Crea tu cuenta</h2>
            </div>
          </ion-card>
          <ion-list class="list">
            <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input placeholder="Nombre completo" [(ngModel)]="fullName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input placeholder="Confirmar Contraseña" type="password" [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
          </ion-list>
          <div class="btn-div">
            <ion-button (click)="register()">Registrarse</ion-button>
          </div>
          <p class="para-member">ya eres miembro?</p>
          <div class="create-div">
            <ion-button fill="outline" routerLink="/login">Inicia Sesiòn</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
